.u-section-1 .u-sheet-1 {
  min-height: 88px;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 86px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 0.9375rem;
  margin: -66px 0 39px 989px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 789px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 569px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 189px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 59px;
}

.u-section-2 .u-menu-1 {
  margin: 2px 0 0 auto;
}

.u-section-2 .u-nav-1 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-2 .u-nav-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-4 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-5 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-sidenav-1 {
  width: 354px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-2 .u-nav-6 {
  font-size: 1rem;
  width: 285px;
  height: 320px;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-2 .u-nav-7 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-8 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-9 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-10 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-image-1 {
  width: 20px;
  height: 20px;
  margin: -27px auto 0 0;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  margin: -27px 906px 3px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 741px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 521px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 141px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 78px;
}

.u-section-3 .u-form-1 {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 77px;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-3 .u-input-1 {
  font-weight: 700;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  background-image: none;
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("http://www.campagnaacademy.org/wp-content/uploads/sites/15/2015/09/slide02.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 408px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-image-1 {
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 530px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 60px 20px 0;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px -52px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 28px auto 0 7px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-4 .u-image-1 {
    height: 243px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 180px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 793px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 344px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-4 .u-image-1 {
    height: 212px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 10px;
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-photo-911758.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 423px;
}

.u-section-6 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 373px;
}

.u-section-6 .u-container-layout-1 {
  padding: 15px 30px 0;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    background-position: 11.25% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}